.button {
    padding: 10px 20px;
    border-radius: 0;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    
    &:not(:last-child){
        border-right: 0px;
    }

    &:hover {
        background-color: #8dd0eb;
    }

    &--selected {
        color: white;
        background-color: #28a5d6;
    }
}